* {
  box-sizing: border-box;
}

body {
	background-color: black;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	
	

}

header {
	height: 150px;
	width: 100vw;
}

.navbar {
	display: flex;
	width: 33%;
	list-style-type: none;
	margin: 0;
	height: 100%;
	justify-content: space-evenly;
	align-items: center;

}

.navbar a {
	color: white;
	font-size: 1.5em;
	text-decoration: none;
	font-family: Bona Nova SC;
	font-weight: bold;
} 

.navbar a:hover {
	color: beige;
}

.pageintro {
	height: 60vh;
	width: 100%;
	position: relative;
	display: inline-block;
	text-align: center;
	

}

.pageintro img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	
}

.title { 
	color: white; 
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	text-align: center;
	font-size: 5rem;
	font-family: Caveat;
}

.welcome {
	display: flex;
	width: 100vw; 
	padding-top: 20px;
	padding-bottom: 20px;
}

#homeleft {
	width: 50%;
	height: max-content;
	position: relative;
	overflow: hidden;
	padding-top: 30px;
	
}

#signature {
		width: 300px;
		height: auto;
}

#homeright {
	width: 50%;
	height: max-content;
	text-align: center;
	padding: 10px;	
}

.MyWebsite {
	font-family: Sedan;
	width: 100%;
	color: white;
	font-size: 2rem;

}

.thankyou {
	color: white; 
	font-family: Caveat;
	font-size: 2.5rem;
	text-align: center; 
	width: 75%;
	margin: 0 auto;

}

#homephoto1 {
	
	width: 70%;
	height: auto;
	margin: 0 auto;
	border-radius: 20px;
	display: block;
	
	

}




footer {
	font-family: Sedan;
	color: white; 
	text-align: center;
}


#pagetitle {
	font-family: Sedan;
	color: white;
	text-align: center;
}

.categories {
	display: flex;
	width: 40vw;
	height: 75px; 
	margin: 0 auto;
	justify-content: space-evenly;
}

.categories a{
		height: 75%;
		width: 25%;
		color: white;
		font-family: Bona Nova SC;
		align-content: center;
		text-align: center;
		border-radius: 5px;
		text-decoration: none;
		font-weight: bold;
		font-size: 1.2em;
	
}

.category1 {
	background-color: darkblue;

}

.category2 {
	background-color: purple;
}

.category3 {
	background-color: darkgreen;
}

#subheader {
	font-family: Sedan; 
	color: white;
	width: 802px;
	margin: 0px auto;
	text-align: left;
	padding-bottom: 25px;
}

.recentreviews {
	width: 100vw;
	height: 100vh;
}

.recentreviews img {
		margin: 0 auto;
		width: 800px;
		height: 430px;
		display: block; 
		border: 2px solid white;
		
}
 figure {
	color: white;
	font-family: Sedan;
	text-align: center;
	text-decoration: none;
	

}

.review figure {
	color: red;
	font-family: Sedan;
	text-align: center;
	font-size: 1.2em;
	
}

.recentreviews figcaption {
	padding-top: 20px;
}

 a {
		text-decoration: none;
}


.aboutmeintro {
		font-family: Caveat;
		color: white;
		width: 40vw;
		text-align: center;
		margin: 0 auto;
		height: max-content;
		font-size: 2rem;
		padding-bottom: 30px;
}




details {
		border: 2px inset white;
		color: white;
		width: 33%;
		height: 60px;
		font-family: Sedan; 
		margin: 0px auto;
		padding-top: 15px;
		font-weight: bold;
		font-size: 1.2rem;
		padding-left: 20px;
		margin-bottom: 40px;
		

		
		&[open]{
			height: max-content;
		}
		
}

details ul {
	list-style-type: none;
	list-style-position: inside;
	line-height: 2.0;
}

.aboutmephoto {
	width: 700px;
	height: 550px;
	margin: 0 auto;
	display: block;
	padding: 50px;
}

.review p {
	font-family: Sedan;
	color: white;
	font-size: 1.4em;
	text-align: left;
	line-height: 2.0;
	

}

.review {
	
	width: 75%;
	margin: 0 auto;
	
}

.review img {
	margin: 0 auto;
	display: block;
	width: 70vw;
	height: auto;
	padding: 20px;
}

.review blockquote {
		color: orangered;
		font-family: Bona Nova SC;
		font-weight: bold;
		font-size: 2em;
		text-align: center;
}

.Photos img {
		margin: 0 auto;
		display: block;
		width: 50%;
		height: auto;
		padding: 20px;
		
}	

.Photos img:active {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2); 
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .aboutmephoto {
    width: 75%;
    height: auto;
  }
  .aboutmeintro {
	  width: 85vw;
	  font-size: 1.5rem;
  }
  details {
	  width: 85vw;
	  font-size: 1.0em;
  }
  .welcome {
	  flex-direction: column;
	  
  }
  
  #homeleft, #homeright {
	 width: 100vw;
  }
  
  #homephoto1 {
	  width: 90%;
	  height: auto;
  }
  
  .title {
		font-size: 2rem;
	  
  }
  
  .pageintro {
	  height: 30vh;
  } 
  
  .thankyou {
	  font-size: 1.8em;
	  width: 95%;
  }
  
  .review p {
	  font-size: 1.1em;
	  
  }
  
  .review {
	  width: 95%;
	  margin: 0 auto;
  }
  
  .review blockquote {
	  font-size: 1.2em;
  }
  
  .review img {
	  width: 95vw;
	  height: auto;
	  
	 
  }
  
  .review figure {
	  width: 95vw;
	  height: auto;
	  margin: 0 auto;
	  display: block;
	  
  }

  
}
